.gitattributes export-ignore
.gitignore export-ignore
.vscode/ export-ignore
gemini_spec.md export-ignore
Api_json_exporter_configuration.md export-ignore
Api_json_exporter_Makefileziele.md export-ignore
doc/source/api_json_exporter.py export-ignore